@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-accent: #fbbf24;
  --color-success: #22c55e;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
